<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.jlja.authoritymanage.mapper.RoleMapper">
    <resultMap id="PermissionMap" type="com.erahub.jlja.authoritymanage.entity.Permission">
        <id property="id" column="id"/>
        <result property="permissionId" column="permission_id"/>
        <result property="permission" column="permission"/>
        <result property="url" column="url"/>
        <result property="isMenu" column="is_menu"/>
        <result property="hasChildren" column="has_children"/>
        <result property="perm" column="perm"/>
        <result property="icon" column="icon"/>
        <result property="pid" column="pid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="deleted" column="deleted"/>
        <result property="locked" column="locked"/>
    </resultMap>

    <select id="getUserPermissions" resultMap="PermissionMap" parameterType="com.erahub.jlja.authoritymanage.dto.RoleDto">
        SELECT DISTINCT sp.id,sp.permission_id,sp.permission,sp.url,sp.is_menu,sp.has_children,sp.perm,sp.icon,sp.pid
        from sys_role_permission srp,sys_role sr,sys_permission sp
        where sp.deleted = 0 and sp.locked = 0 and sp.id = srp.permission_id and sr.id = srp.role_id
        <if test="roleDtos == null or roleDtos.size() == 0">
            and 0 = 1
        </if>
        <foreach collection="roleDtos" index="i" item="roleDto" open="and sr.id in (" close=")" separator=",">
            #{roleDto.id}
        </foreach>
    </select>

    <delete id="deleteAuthorityPermission" parameterType="java.util.List">
        delete from sys_role_permission where
        <foreach collection="list" index="i" item="id" open="role_id in (" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="authorizePermission" parameterType="com.erahub.jlja.authoritymanage.dto.RoleDto">
        insert into sys_role_permission(role_id,permission_id) values
        <foreach collection ="permissionDtos" item="permission" separator =",">
            (#{id}, #{permission.id})
        </foreach >
    </insert>
</mapper>
