<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.jlja.authoritymanage.mapper.UserMapper">
    <resultMap id="RoleMap" type="com.erahub.jlja.authoritymanage.entity.Role">
        <id property="id" column="id"/>
        <result property="role" column="role"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="deleted" column="deleted"/>
        <result property="locked" column="locked"/>
    </resultMap>

    <select id="getUsersRoles" resultMap="RoleMap" parameterType="com.erahub.jlja.authoritymanage.dto.UserDto">
        select distinct sr.id,sr.role from sys_user_role sur,sys_user su,sys_role sr
        where sr.deleted = 0 and sr.locked = 0 and su.id = sur.user_id and sr.id = sur.role_id
        <foreach collection="userDtos" index="i" item="userDto" open="and su.id in (" close=")" separator=",">
            #{userDto.id}
        </foreach>
    </select>

    <delete id="deleteAuthorityRole" parameterType="java.util.List">
        delete from sys_user_role where
        <foreach collection="list" index="i" item="id" open="user_id in (" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="authorizeRole" parameterType="com.erahub.jlja.authoritymanage.dto.UserDto">
        insert into sys_user_role(user_id, role_id) values
        <foreach collection ="roleDtos" item="role" separator =",">
            (#{id}, #{role.id})
        </foreach >
    </insert>

</mapper>
